*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Hanu";
  scroll-behavior: smooth;
  
}

@font-face {
  font-family: "Prisans";
  src: url("assets/Prisans.ttf");
}

@font-face {
  font-family: "Hanu";
  src: url("assets/Hanu.ttf");
}